<div class="flex flex-col bg-gradient items-center h-screen justify-center">
    <!-- <div class="hidden lg:visible lg:h-screen lg:flex flex-col items-center justify-center md:w-1/2">
        <p class="lg:text-7xl text-3xl lg:pb-4">Imitter</p>
        <p class="invisible lg:visible lg:text-5xl text-xl text-center">Your place in The Internet</p>
lg:bg-[url('assets/images/bglogin.svg')]
        <img src="/assets/images/logo.svg" class="hidden lg:flex" />
    </div> -->

    <app-login-window></app-login-window>
</div>
