<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />
<div *ngIf="isPostFound" class="px-3 flex flex-col space-y-4">
    <div class="w-full flex flex-row items-center space-x-4">
        <span
            *ngIf="!goBack()"
            [routerLink]="['/profile', post?.post?.author?.username, 'status', post?.post?.originalPost]"
            class="material-symbols-outlined hover:bg-neutral-200 rounded-full p-1 cursor-pointer">
            arrow_back
        </span>
        <span
            *ngIf="goBack()"
            [routerLink]="['/dashboard']"
            class="material-symbols-outlined hover:bg-neutral-200 rounded-full p-1 cursor-pointer">
            arrow_back
        </span>
        <span class="text-xl text-neutral-900 font-semibold"> Tweet </span>
    </div>
    <div class="flex flex-row items-center space-x-3">
        <img src="{{ postAuthor?.profilePicture }}" class="object-cover object-center h-14 w-14 rounded-full" />
        <div class="flex flex-col">
            <span
                class="font-medium text-lg cursor-pointer"
                [routerLink]="['/profile', post?.post?.author?.username]"
                >{{ postAuthor?.displayName }}</span
            >
            <span class="font-light text-neutral-600">@{{ postAuthor?.username }}</span>
            <div *ngIf="post?.post?.isReply">
                <span class="font-thin text-neutral-800">Replying to </span>
                <span class="text-sky-700 font-medium" [routerLink]="['/profile', replyingToAuthorUsername]"
                    >@{{ replyingToAuthorUsername }}</span
                >
            </div>
        </div>
    </div>
    <div class="flex flex-col space-y-2 border-b-[1px]">
        <span class="text-2xl"> {{ post?.post?.text }}</span>
        <img
            *ngIf="post?.post?.imageUrl !== undefined && post?.post?.imageUrl !== null"
            src="{{ post?.post?.imageUrl }}"
            class="w-11/12 border-[1px] rounded-md" />
        <div class="flex flex-col">
            <span class="font-thin text-neutral-600 pb-2 border-b-[1px]">{{
                post?.post?.date | date : 'h:mm a • MMM dd, yyyy'
            }}</span>
            <div
                *ngIf="post?.post?.likesCounter > 0"
                class="flex flex-row space-x-1 items-center py-3"
                (click)="openDialog(post?.post)">
                <span class="font-medium text-neutral-900 cursor-pointer"> {{ post?.post?.likesCounter }}</span>
                <span class="font-thin text-neutral-600 cursor-pointer">Likes</span>
            </div>
        </div>
    </div>
    <div class="flex flex-row py-2">
        <img
            src="{{ currentUser?.userdata?.profilePicture }}"
            class="object-cover object-center h-14 w-14 rounded-full" />
        <textarea
            class="w-full text-xl outline-none pl-4"
            placeholder="Tweet your reply"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="commentText"></textarea>
    </div>
    <div class="w-full flex flex-row items-center justify-end border-b-[1px] py-2 px-4">
        <button
            *ngIf="commentText"
            (click)="onAddReply(post.post, currentUser, commentText)"
            class="px-5 py-2 text-base bg-sky-500 text-white rounded-full font-medium">
            Reply
        </button>
        <button
            *ngIf="!commentText"
            class="px-5 py-2 text-base bg-sky-500 opacity-40 text-white rounded-full font-medium"
            disabled>
            Reply
        </button>
    </div>
    <div *ngFor="let reply of repliesList">
        <app-reply [reply]="reply.post" [replyAuthor]="reply?.post?.author"></app-reply>
    </div>
</div>
<div *ngIf="!isPostFound && !isProcessing" class="flex flex-col items-center justify-center px-16 pt-16">
    <app-post-not-found></app-post-not-found>
</div>
<div *ngIf="isProcessing" class="flex flex-col items-center justify-center px-16 pt-16">
    <mat-spinner [diameter]="50" class="custom-spinner"></mat-spinner>
</div>
