.profile-picture {
    max-width: 25%;
    max-height: 25%;
    clip-path: circle();
}
.profile-image-post {
    width: 50px;
    height: 50px;
    /* clip-path: circle(calc(100% / 1.44)); */
    object-fit: cover;
    border-radius: 50%;
}

.edit-dialog .mat-mdc-dialog-container {
    width: 33vw;
    height: auto;
}
.mat-mdc-dialog-container {
    border-radius: 10px !important;
}
@media screen and (max-width: 600px) {
    .edit-dialog,
    .mat-mdc-dialog-container {
        width: 100vw;
        height: fit-content;
    }
    mat-form-field {
        width: 100%;
    }
}

.mat-mdc-tab-group.mat-mdc-primary .mat-mdc-ink-bar,
.mat-mdc-tab-nav-bar.mat-mdc-primary .mat-mdc-ink-bar {
    height: 3px;
    background-color: #0284c7;
}
.mat-mdc-tab-label.mat-mdc-tab-label-active {
    background-color: transparent;
    color: #0f172a;
    font-weight: 700;
    font-size: 1rem;
    width: 50px !important;
}
.mat-mdc-tab-label {
    background-color: transparent;
    color: #0f172a;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.25s;
}
.mat-mdc-tab-label:hover {
    background-color: #cbd5e1;
    transition: 0.25s;
}
