<div class="border-b-[1px] border-slate-200 pb-6 md:py-8 md:px-12 w-full pt-4 md:pb-4">
    <div class="flex flex-row items-center ml-3 pb-6">
        <img *ngIf="user" src="{{ user?.userdata?.profilePicture }}" class="profile-image" />

        <span *ngIf="user?.userdata" class="font-normal text-xl pl-3">{{ user?.userdata?.displayName }}</span>
    </div>
    <div class="flex flex-col px-4 space-y-4 border-red-500 rounded-lg">
        <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            #textarea
            placeholder="What's happening? "
            class="text-xl w-full outline-none"
            [(ngModel)]="postText">
        </textarea>

        <div *ngIf="postImage">
            <span class="font-light text-sm text-slate-700">Chosen image </span
            ><img src="{{ postImage }}" class="uploaded-image" />
        </div>
        <div class="flex flex-row justify-between">
            <div class="flex flex-row space-x-2">
                <button (click)="uploadImage.click()">
                    <input type="file" class="hidden" #uploadImage (change)="onImageUpload($event)" />
                    <mat-icon class="text-sky-500">add_photo_alternate</mat-icon>
                </button>
                <button><mat-icon class="text-sky-500">mood</mat-icon></button>
            </div>
            <div>
                <button
                    *ngIf="postText"
                    class="px-5 py-2 text-base bg-sky-500 text-white rounded-full font-medium"
                    (click)="onAddPost(this.postText, this.postImage)">
                    Tweet
                </button>
                <button
                    *ngIf="!postText"
                    class="px-5 py-2 text-base bg-slate-400 text-white rounded-full font-medium"
                    (click)="onAddPost(this.postText, this.postImage)"
                    disabled>
                    Tweet
                </button>
            </div>
        </div>
    </div>
</div>
