.profile-image {
    max-width: 80%;
    max-height: 80%;
    clip-path: circle();
    object-fit: cover;
    margin-top: 0.75rem;
}

.bg-gradient {
    background: rgb(14, 165, 233);
    background: linear-gradient(223deg, rgba(14, 165, 233, 1) 0%, rgba(2, 132, 199, 1) 43%, rgba(30, 64, 175, 1) 100%);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-icon {
    margin-top: 10px; /* Opcjonalne: dostosuj margines górnego krawędzi od ikony */
}
