<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet" />
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="flex justify-center w-full border-b-[1px] pt-3">
    <div class="flex flex-row w-full pb-4">
        <div class="flex flex-col px-2 shrink-0">
            <img src="{{ post?.author?.profilePicture }}" class="object-cover object-center h-12 w-12 rounded-full" />
        </div>
        <div class="flex flex-col w-full">
            <div class="flex items-center justify-between">
                <div class="flex space-x-1 items-center truncate">
                    <span
                        class="font-medium text-md lg:text-lg text-neutral-900 whitespace-nowrap cursor-pointer"
                        [routerLink]="['/profile', this.post?.author?.username]"
                        >{{ post?.author?.displayName }}</span
                    >
                    <span
                        class="font-thin text-md text-neutral-600 truncate cursor-pointer"
                        [routerLink]="['/profile', this.post?.author?.username]"
                        >@{{ post?.author?.username }}</span
                    >
                    <span
                        class="font-thin text-md text-neutral-600 truncate cursor-pointer"
                        [routerLink]="['/profile', this.post?.author?.username, 'status', post?._id]">
                        • {{ post?.date | dateAgo }}</span
                    >
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon class="text-neutral-700 mr-4 rounded-full hover:bg-sky-100">more_horiz</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button
                        mat-menu-item
                        *ngIf="post?.author?._id === user?.userdata?._id"
                        (click)="onDeletePost(post._id, currentProfile)"
                        class="flex items-center">
                        <mat-icon>delete</mat-icon>
                        <span class="text-neutral-800 text-thin">Delete this Imitt</span>
                    </button>
                    <button mat-menu-item class="flex items-center">
                        <mat-icon [ngStyle]="{ color: '#dc2626' }">report</mat-icon>
                        <span class="text-neutral-800 text-thin" (click)="openReportSnackBar()">Report this Imitt</span>
                    </button>
                </mat-menu>
            </div>
            <div *ngIf="post.isReply">
                <span class="font-thin text-neutral-800">Replying to </span>
                <span class="text-sky-700 font-medium">@{{ replyingToAuthorUsername }}</span>
            </div>
            <div
                class="cursor-pointer w-10/12 pb-2"
                [routerLink]="['/profile', this.post?.author?.username, 'status', post?._id]">
                <span class="text-neutral-900 text-md lg:text-lg">{{ post?.text }}</span>
                <img
                    *ngIf="post?.imageUrl !== undefined && post?.imageUrl !== null"
                    src="{{ post?.imageUrl }}"
                    class="w-11/12 rounded-md mt-2" />
            </div>
            <div class="flex flex-row space-x-2 items-center">
                <mat-icon
                    (click)="onUpdateLikesCounter(post._id, post)"
                    *ngIf="checkUserLike(this.post.likedByIdArray)"
                    class="text-sky-600 hover:bg-sky-100 rounded-full cursor-pointer"
                    >favorite</mat-icon
                >
                <mat-icon
                    (click)="onUpdateLikesCounter(post._id, post)"
                    *ngIf="!checkUserLike(this.post.likedByIdArray)"
                    class="text-sky-600 hover:bg-sky-100 rounded-full cursor-pointer"
                    >favorite_outline</mat-icon
                >
                <span class="font-semibold text-sky-600" (click)="openDialog(post)">
                    {{ post?.likedByIdArray.length }}</span
                >
                <mat-icon
                    class="material-symbols-outlined text-sky-600 cursor-pointer"
                    [routerLink]="['/profile', this.post?.author?.username, 'status', post?._id]"
                    >chat_bubble</mat-icon
                >
                <span
                    class="font-semibold text-sky-600 cursor-pointer"
                    [routerLink]="['/profile', this.post?.author?.username, 'status', post?._id]">
                    {{ post?.replies?.length }}</span
                >
            </div>
        </div>
    </div>
</div>
