@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~material-icons/iconfont/material-icons.css'; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@0;1&display=swap');

.mat-mdc-snack-bar-label .mdc-snackbar__label {
    color: #f8fafc;
    border-radius: 15px !important;
}
.mat-mdc-snack-bar-label .mdc-snackbar__label button {
    color: #f8fafc;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: rgb(2, 132, 199, 0.9) !important;
}
.mat-mdc-button .mdc-button__label {
    color: #a3a3a3;
    font-weight: 500;
}

* {
    ::-webkit-scrollbar {
        width: 7px;
        background-color: #f4f4f5;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(220, 220, 220);
        border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #a3a3a3;
        border-radius: 10px;
    }
}
